@{
    ViewData["Title"] = "ChatRoom";
}

@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.2/react-dom.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.38/browser.min.js"></script>
    <script src="@Url.Content("~/js/wschat.jsx")" type="text/babel"></script>
}

    <div id="chatContainer"></div>
    